{% extends "./plantilla.html"%}
{% block contenido %}


<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active d-flex justify-content-center align-items-center" style="height: 100vh;">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/042/794/278/small_2x/camping-tent-in-the-mountains-with-trees-and-rocks-free-png.png" class="d-block" alt="..." width="600" height="600">
      </div>
      
      
      <div class="carousel-item"style="height: 100vh;">
        <img src="https://w7.pngwing.com/pngs/153/779/png-transparent-camping-campsite-campsite-tent-cartoon-fictional-character.png" class="d-block w-100" alt="..." width="800" height="800">
      </div>
      <div class="carousel-item" style="height: 100vh;">
        <img src="https://w7.pngwing.com/pngs/626/722/png-transparent-gray-tent-with-bag-and-cooler-camping-campsite-backpacking-hiking-campervans-campsite-camping-backpack-tent-outdoor-recreation-thumbnail.png" class="d-block w-100" alt="..." width="800" height="800">>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endblock %}