{% extends "./plantilla.html" %}

{% block contenido %}
<div class="container mt-5">
    <!-- Contenedor para la tabla -->
    <div class="border p-4 rounded-3 shadow-lg">
        <h3 class="mb-4 text-center" style="color: #FF4500; font-family: 'Algerian', sans-serif;">Lista de Reservas</h3>
        <table class="table table-bordered table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th style="color: #008000; font-family: 'Algerian', sans-serif;">ID</th>
                    <th style="color: #008000; font-family: 'Algerian', sans-serif;">Campista</th>
                    <th style="color: #008000; font-family: 'Algerian', sans-serif;">Fecha Inicio</th>
                    <th style="color: #008000; font-family: 'Algerian', sans-serif;">Fecha Fin</th>
                    <th style="color: #008000; font-family: 'Algerian', sans-serif;">Tipo de Alojamiento</th>
                    <th style="color: #008000; font-family: 'Algerian', sans-serif;">Número de Personas</th>
                    <th style="color: #008000; font-family: 'Algerian', sans-serif;">Estado</th>
                    <th style="color: #008000; font-family: 'Algerian', sans-serif;">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for reserva in reservas %}
                    <tr>
                        <td style="font-family: 'Algerian', sans-serif;">{{ reserva.id }}</td>
                        <td style="font-family: 'Algerian', sans-serif;">{{ reserva.campista.nombre_completo }}</td>
                        <td style="font-family: 'Algerian', sans-serif;">{{ reserva.fecha_inicio|date:"d/m/Y" }}</td>
                        <td style="font-family: 'Algerian', sans-serif;">{{ reserva.fecha_fin|date:"d/m/Y" }}</td>
                        <td style="font-family: 'Algerian', sans-serif;">{{ reserva.tipo_alojamiento }}</td>
                        <td style="font-family: 'Algerian', sans-serif;">{{ reserva.numero_personas }}</td>
                        <td style="font-family: 'Algerian', sans-serif;">{{ reserva.estado }}</td>
                        <td>
                            <a href="/editarreserva/{{ reserva.id }}" class="btn" style="background-color: #FF6347; color: white; font-family: 'Algerian', sans-serif;">Editar</a>
                            <a onclick="return confirm('¿Está seguro de eliminar permanentemente?')" href="/eliminarreserva/{{ reserva.id }}" class="btn" style="background-color: #008000; color: white; font-family: 'Algerian', sans-serif;">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

